<div class="row">
	<h2>New Recipes</h2>
</div>
<div class="row">
	<div class="col-xs-4 col-md-3">
		<a href="/recipe"><img class="img-responsive" src="images/apple_pie.jpg" alt="Apple Pie"></a>
		<div class="caption">
			<h3><a href="/recipe">Apple Pie</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		</div>
	</div>
	<div class="col-xs-4 col-md-3">
		<img class="img-responsive" src="images/apple_pie.jpg" alt="Apple Pie">
		<div class="caption">
			<h3>Apple Pie</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		</div>
	</div>
	<div class="col-xs-4 col-md-3">
		<img class="img-responsive" src="images/apple_pie.jpg" alt="Apple Pie">
		<div class="caption">
			<h3>Apple Pie</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		</div>
	</div>
</div>
<div class="row">
	<h2>Breakfast</h2>
</div>
<div class="row">
	<div class="col-xs-4 col-md-3">
		<img class="img-responsive" src="images/apple_pie.jpg" alt="Apple Pie">
		<div class="caption">
			<h3>Apple Pie</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		</div>
	</div>
	<div class="col-xs-4 col-md-3">
		<img class="img-responsive" src="images/apple_pie.jpg" alt="Apple Pie">
		<div class="caption">
			<h3>Apple Pie</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		</div>
	</div>
	<div class="col-xs-4 col-md-3">
		<img class="img-responsive" src="images/apple_pie.jpg" alt="Apple Pie">
		<div class="caption">
			<h3>Apple Pie</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		</div>
	</div>
</div>