<div class="row page-header">
	<div class="col-lg-12">
		<h1>Apple Pie</h1>
	</div>
</div>
<div class="row">
	<!-- Left column for ingredients -->
	<div class="col-lg-12">
		<div class="col-sm-6 col-xs-6">
			<h2>Ingredients</h2>
			<ul class="list-unstyled ingredients">
				<div class="col-md-5">
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Apples</li>
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Pie crust</li>
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Cinnamon</li>
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Apples</li>
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Pie crust</li>
				</div>
				<div class="col-md-5 col-md-offset-2">
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Water</li>
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Sugar</li>
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>Pans</li>
				</div>
			</ul>
		</div>
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
			<!-- right column for picture -->
			<img src="images/apple_pie.jpg" alt="Apple Pie" class="img-responsive recipe-img">
		</div>
	</div>
</div>
<!-- Left column for instructions -->
<div class="row">
	<div class="col-sm-6">
		<h2>Instructions</h2>
		<ol>
			<li class="instruction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, iusto aliquid quod veniam, eius nobis odio dicta, unde dolorum voluptatem facere quisquam assumenda quas nisi! Cupiditate sit aspernatur labore debitis.</li>
			<li class="instruction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quia quo harum et sequi, possimus veritatis numquam temporibus rem qui obcaecati sunt accusamus pariatur expedita optio doloremque dolorem, animi nemo.</li>
			<li class="instruction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa modi odit quam voluptatem tempora nostrum fugiat tenetur sunt non consequuntur. Dolor commodi impedit accusantium, vitae officiis qui error, aperiam quaerat.</li>
		</ol>
	</div>
	<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-xs-6 col-xs-offset-3">
		<button class="btn btn-default btn-lg btn-block btn-shoppinglist">Add to shopping list</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Reviews</h2>
		<div class="review-container">
			<div class="row">
				<div class="review">
					<div class="well well-sm review-header">
						<span class="reviewAuthor">Andy Becker</span>
					</div>
					<div class="col-xs-12">
							<p>This is my review.  I very much enjoyed it</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="review">
					<div class="well well-sm">
						<span>Andy Becker</span>
					</div>
					<div class="col-xs-12">
							<p>This is my review.  I very much enjoyed it</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>