.btn-shoppinglist {
	margin-top: 25px;
}

h2 {
	margin-bottom: 20px;
}

.ingredient {
	margin: 15px 15px;
	font-size: 16px;
}

.instruction {
	line-height: 1.5em;
	font-size: 16px;
	margin-bottom: 15px;
}

span.glyphicon {
	margin-right: 10px;
}

.review { padding-bottom: 5px; }
.review-container { padding-top: 0; }
.review-header { margin-bottom: 10px; }
.review-author { margin: 0 5px; }
.reviewTimestamp { color: #ccc; }
.review .well { margin-bottom: 10px; }


.rating span.glyphicon { margin-right: 0px; }


.servings { margin-top:20px; display: block; }
.cook_times { margin-bottom: 20px; }
.cook-time, .prep-time { border-right: 1px solid black;  }
time { display:block; }

.thumbnail-fit {
	object-fit: cover;
}

@media only screen and (min-width: 1200px) {
	.thumbnail-fit {
		height: 270px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.thumbnail-fit {
		height: 219.984px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.thumbnail-fit {
		height: 165px;
	}
}
/*@media only screen and (max-width: 767px) {
	.thumbnail-fit {
		height: 100px;
	}
}*/